/venv
.vscode
ShopsScraper/app/__pycache__
ShopsScraper/ShopsScraper/__pycache__
ShopsScraper/app/migrations/__pycache__
ShopsScraper/app/Scraping/__pycache__
ShopsScraper/app/Scraping/Testing
.DS_Store
ShopsScraper/.dockerignore
ShopsScraper/docker-compose.yaml
ShopsScraper/dockerfile
